
ProductReview/.vs/ProductReview/v15/.suo
ProductReview/.vs/ProductReview/v15/Server/sqlite3/db.lock
ProductReview/.vs/ProductReview/v15/Server/sqlite3/storage.ide
ProductReview/.vs/ProductReview/v15/Server/sqlite3/storage.ide-shm
ProductReview/.vs/ProductReview/v15/Server/sqlite3/storage.ide-wal
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.AssemblyInfo.cs
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.AssemblyInfoInputs.cache
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.assets.cache
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.csproj.CoreCompileInputs.cache
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.csprojAssemblyReference.cache
ProductReview/ProductReview/obj/ProductReview.csproj.nuget.cache
ProductReview/ProductReview/obj/ProductReview.csproj.nuget.g.props
ProductReview/ProductReview/obj/ProductReview.csproj.nuget.g.targets
ProductReview/ProductReview/obj/project.assets.json
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/config.xml
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/ProductReview.deps.json
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/ProductReview.dll
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/ProductReview.pdb
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/ProductReview.runtimeconfig.dev.json
ProductReview/ProductReview/bin/Debug/netcoreapp2.0/ProductReview.runtimeconfig.json
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.dll
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.dll
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.dll
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.dll
ProductReview/ProductReview/obj/Debug/netcoreapp2.0/ProductReview.pdb
