<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectiontype>mssql</connectiontype>
  <mssql>
    <connectionstring>Server=localhost\sqlexpress2017;Database=smartlearning;Uid=smartlearning;Pwd=smartlearning;</connectionstring>
  </mssql>
  <postgres>
    <connectionstring>value</connectionstring>
  </postgres>
</configuration>